/* Borders */
.radius-sm {
    border-radius: 6px;
}

.radius-md {
    border-radius: 10px;
}

.radius-lg {
    border-radius: 16px;
}

/* Padding */
.padding-sm {
    padding: 4px 8px;
}

/* Filter Select */
.filter-select {
    background-color: rgba(172, 168, 168, 0.285);
    padding: 8px 40px;
    border-radius: 6px;
}

.filter-select:hover {
    cursor: pointer;
}